.estilosContador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  background: #ae47d7;
  color: rgb(54, 30, 52);
  margin: 10px auto;
  padding: 10px;
}

.contenedorControles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: white;
  width: 90%;
  height: 30px;
}

.botonControl {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: rgb(51, 7, 59);
  border-radius: 50%;
  background: #bd97c0;
}
.botonControl:disabled{
  background: grey;
}

.botonAgregar {
  padding: 10px;
  border-radius: 5px;
  background: #f56cb7;
  color: white;
  width: 95%;
  margin: 10px 0;
}
.botonAgregar:disabled{
  background: grey;
}